<h1>Chat room</h1>

<div id = "messages" >
 <tbody>
   <%  @messages.each do |message| %>
    <tr class="messages" date-id=<%= message.id %>></tr>
   <% end %>
 </tbody>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
